<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>scratch-card test</title>

    <script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../bower_components/web-component-tester/browser.js"></script>

    <link rel="import" href="../scratch-card.html">
  </head>
  <body>

    <test-fixture id="BasicTestFixture">
      <template>
        <scratch-card></scratch-card>
      </template>
    </test-fixture>

    <test-fixture id="ChangedTitleTestFixture">
      <template>
        <scratch-card title="new-title"></scratch-card>
      </template>
    </test-fixture>

    <test-fixture id="loadScratchCardTestFixture">
      <template>
        <scratch-card background="images/background01.png" foreground="images/foreground01.png"></scratch-card>
      </template>
    </test-fixture>

    <script>
      suite('scratch-card', function() {

        test('instantiating the element with default properties works', function() {
          var element = fixture('BasicTestFixture');
          assert.equal(element.title, 'scratch card');
          var elementShadowRoot = element.shadowRoot;
          var elementHeader = elementShadowRoot.querySelector('h2');
          assert.equal(elementHeader.innerHTML, 'scratch card!');
        });

        test('setting the title on the element works', function() {
          // Create a test fixture
          var element = fixture('ChangedTitleTestFixture');
          assert.equal(element.title, 'new-title');
          var elementShadowRoot = element.shadowRoot;
          var elementHeader = elementShadowRoot.querySelector('h2');
          assert.equal(elementHeader.innerHTML, 'new-title!');
        });

        test('loading images on the element works', function() {
          // Create a test fixture
          var element = fixture('loadScratchCardTestFixture');
          assert.equal(element.background, 'images/background01.png');
          assert.equal(element.foreground, 'images/foreground01.png');
          var elementShadowRoot = element.shadowRoot;
          var elementContainer = elementShadowRoot.querySelector('#container');
        });

      });
    </script>

  </body>
</html>
